:root {
    --primary: #6209DB;
    }
    
body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-primary {
    color: var(--primary) !important;
}

btn {
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);  
    border-color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;  
}

.content {
    max-width: 500px;
}

#hero {
    height: 900px;
}

@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.text.ti {
    background-color: var(--primary);  
    border-color: #000000;
}
